/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) { 
    header ul{
        margin-top: 20px;
    }
    header ul li.nav-item{
        padding: 0 0px;
    }
    .slider .slider_bg{
        background-image: none;
    }
    .smartphone,.laptop{
        margin: 80px 0 70px;
    }
    .categories{
        margin: 110px 0 70px;
    }
    .categories h2{
        margin-bottom: 25px;
    }
    .categories .img_mb{
        margin-bottom: 3rem !important;
    }
    .categories .order_img{
        margin-top: 80px;
    }
 }

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) { 
    header ul{
        margin-top: 20px;
    }
    header ul li.nav-item{
        padding: 0 0px;
    }
    .slider .slider_bg{
        background-image: none;
    }
    .smartphone,.laptop{
        margin: 80px 0 70px;
    }
    .categories{
        margin: 110px 0 70px;
    }
    .categories h2{
        margin-bottom: 25px;
    }
    .categories .img_mb{
        margin-bottom: 3rem !important;
    }
    .categories .order_img{
        margin-top: 80px;
    }
 }

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) { 
    header ul{
        margin-top: 20px;
    }
    header ul li.nav-item{
        padding: 0 0px;
    }
    .slider .slider_bg{
        background-image: none;
    }
 }

/* X-Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) { 
    .slider .slider_bg{
        background-image: none;
    }
 }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (max-width: 1400px) { 

 }